.preview-store{
  background: url(/public/images/back4.png) no-repeat center;
  min-height: 340px;
  max-width: 100%;
  margin: 0 auto; }
.store{
  max-width: 1200px;
  margin: 0 auto!important;
  margin-top: -240px!important;
  margin-bottom: 30px!important;

  .content .coupon-block.small:nth-of-type(5),
  .content .coupon-block.small:nth-of-type(8) {
          margin-right: 0; }
  .content{
    float: right;
    .coupon-block{
      .btn-coupon{
        top: 30px;
      }
    }
  }

  .nav-tabs{
    margin-bottom: 30px;
    border-bottom: 0;
  }
  .nav-tabs > li > a{
    border-radius: 1px 1px 0 0;
    color: #fff;
    
  }
  .nav-tabs > li.active > a, 
  .nav-tabs > li.active > a:focus, 
  .nav-tabs > li.active > a:hover{
    background-color: #f3f3f3;
    color: #333;
    font-weight: 700;
    border: 0;
    border-top: 4px solid #ed7000;
  }
  .description.well{
    background: rgba(68, 63, 68, .5);
    border-color: transparent;
    h2{
      color: #fff;
      font-size: calculateRem(30px);
      font-weight: 700;
    }
    p{
      color: #928895;
      font-size: calculateRem(13px);
    }
  }

  .coupon-block{
    margin-bottom: 30px;

    &.small{
      max-width: 270px;
      margin-right: 30px;
      .btn-coupon{
        margin: 20px 0 20px 0;
        top: 0;
      }

    }
  }
  .content .coupon-block .main{
    padding: 25px;
  }
  aside {
  max-width: 300px;
  margin: 0;
  .block-filter{
    padding: 10px 20px;
  }
  .block-view, .block-filter {
    margin-bottom: 40px;
    box-shadow: 0 0 5px #888888;
    background: #fff;

      .description{
        font-size: calculateRem(13px);
        color: #888;
        padding: 10px 20px;
        position: relative;
        a{
          color: #007dc6;
          &:hoverб{
            color: #007dc6;
          }
        }
      } 

      .btn-view{
        width: 135px;
        height: 35px;
        background: url(/public/images/btn-2.png);   
        padding: 10px;
        margin: 10px auto;
        text-align: center;
        padding-top: 5px;
        a{
          color: #fff;
          text-decoration: none;
          &:hover{
            color: #fff;
            text-decoration: none;
          }
        }
      }
    .header{
      text-align: center;
      padding: 10px;
      background: #fafafa;
      height: 70px;
      border-bottom: 1px solid #edebe5;
      img{
        max-width: 200px;
        margin: 0 auto;
      }  

    }
    .footer{
      padding: 20px;
    }
    .block-rating{
        display: block;
        font-size: calculateRem(13px);
        padding: 20px 0;
        border: 1px solid #edebe5;
        text-align: center;
        span{
          display: block;
        }
        i{
          color: #ed7000;
        }
      }
      
  }
  .block-filter{
    h4{
      text-transform: uppercase;
      font-weight: 700;
      font-size: calculateRem(14px);
      line-height: 2;
    }
    .checlbox{
      label{
        font-size: calculateRem(12px);
      }
    }
  }
}
}

@media screen and (max-width: 700px){

  .store{
    margin-top: -340px!important;
     .content .coupon-block.small:nth-of-type(5),
     .content .coupon-block.small:nth-of-type(8) {
          margin-right: 20px; }
     .description.well{
        margin-bottom: 0;
    }
     .coupon-block.small{
        max-width: 100%!important;
     }
     aside{
      max-width: 100%;
     }
     .content .coupon-block .btn-coupon{
        position: relative;
        margin: 0 auto;
        top: 0;
        right: 0;
     }
  }
}