* {
  margin: 0;
  padding: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

body {
  font: 12px/18px Arial, sans-serif;
  width: 100%; }

.wrapper {
  width: 1400px;
  margin: 0 auto; }

/* Header
-----------------------------------------------------------------------------*/
.header {
  height: 70px;
  background: #FFE680; }

/* Middle
-----------------------------------------------------------------------------*/
/* Footer
-----------------------------------------------------------------------------*/
.footer {
  height: 60px;
  background: #BFF08E; }
