/* Max width: 700px
-------------------------------------------------------*/
@media screen and (max-width: 700px){
  .preview .block-company li{
    margin: 5px!important;
  }
  html .content .block-recommend .coupon-block,  html .content .block-new .coupon-block, html .content .block-main .coupon-block.col-md-4{
    max-width: 100%!important;
    margin: 19px 0;
  }

  footer{
    text-align: center;

    .block-subscribe .checkbox{
      display: block;
     }

  }
   .content .coupon-block .btn-coupon{
        position: relative;
        margin: 0 auto;
        top: 0;
        right: 0;
     }

     
}